$size-elements-height: 60px;

.form {
  &__field {
    position: relative;
    background: #fff;
    height: $size-elements-height;
    border-radius: 10px;
    box-shadow: 0 22px 24px -28px rgba(0, 0, 0, 0.2);

    &.focus {
      border: 2px solid #0071fe;

      label {
        opacity: 0;
      }
    }

    &.active {
      input {
        top: 17px;

        &:focus {
          & + label {
            opacity: 1;
          }
        }
      }

      label {
        top: 13px;
        font-size: 12px;
        color: #7d838d;
        opacity: 1;
      }
    }

    &.wrong {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      border-color: #fe2946;

      label {
        color: #fe2946;
      }

      .alert {
        transform: perspective(999px) rotateX(0deg) rotateY(0) rotateZ(0deg);
        opacity: 1;
      }
    }

    &.success {
      border-color: #33d353;

      label {
        color: #33d353;
      }

      .sc {
        transform: perspective(999px) rotateX(0deg) rotateY(0) rotateZ(0deg);
        opacity: 1;

        &::after {
          width: 0;
        }
      }
    }

    label {
      position: absolute;
      top: 21px;
      left: 20px;
      color: #353a44;
      transition: all 0.2s ease-in-out;
      pointer-events: none;
      user-select: none;
    }

    input {
      color: #353a44;
      height: 30px;
      width: 260px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 19px;
      transition: all 0.2s ease-in-out;
      border: 2px solid transparent;
      font-weight: 700;
      position: relative;
      top: 15px;
      border-radius: 10px;
      font-family: "Lato", sans-serif;

      &:focus {
        outline: none;
      }
    }

    .icon {
      width: 20px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    .feedback {
    }
  }

}

.alert {
  position: absolute;
  height: 64px;
  width: 64px;
  right: -2px;
  top: -2px;
  transform: perspective(999px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  transform-origin: right center 0px;
  transition: all 0.3s ease-in-out;
  border-radius: 9px;
  background: url("https://alikinvv.github.io/email-check/build/alert.svg") no-repeat center #fe2946;
  background-size: 20px;
  opacity: 0;
}

.sc {
  height: 64px;
  width: 64px;
  position: absolute;
  right: -2px;
  top: -2px;
  transform: perspective(999px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  transform-origin: right center 0px;
  transition: all 0.3s ease-in-out;
  border-radius: 9px;
  background: url("https://alikinvv.github.io/email-check/build/success.svg") no-repeat center #33d353;
  background-size: 50px;
  opacity: 0;

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    width: 26px;
    height: 100%;
    background: #33d353;
    transition: all 0.4s ease-in-out;
    transition-delay: 200ms;
  }
}
