<header>
  <a class="button style--icon"  [routerLink]="'/motorista'">
    <i class="icon icon-arrow-left"></i>
  </a>

  <h1 class="title">Como podemos falar com você?</h1>
  <p>Não se preucupe não vamos te ligar</p>
</header>
<main>
  <form [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
    <div class="form__field text">
      <input appFormField formControlName="name" id="name" type="text" name="name" [value]="lead.getName()"
        (ngModelChange)="lead.setName($event)" autocomplete />
      <label for="name">
        {{
            name.untouched || (name.dirty && !name.errors) ? 'Nome' : (
            (name.errors.required ? 'Digite seu nome' : '') ||
            (name.errors.minlength ? 'Nome muito curto' : '')
          )
        }}
      </label>
      <i class="icon icon-{{ name.touched ? (name.valid ? 'check' : 'remove') : 'user' }}"></i>
    </div>

    <fieldset class="form__field switch">
      <input formControlName="validationChannel" type="checkbox" id="validationChannel"
        (ngModelChange)="changeChannel(+$event ? 1 : 0)" />
      <label for="validationChannel" data-on="Celular" data-off="Email"></label>
    </fieldset>

    <div *ngIf="show.email" class="form__field text" @TopFade>
      <input appFormField formControlName="email" id="email" type="email" name="email" [value]="lead.getEmail()"
        (ngModelChange)="lead.setEmail($event)" autocomplete />
      <label for="email">
        {{
            email.untouched || (email.dirty && !email.errors) ? 'Email' : (
            (email.errors.required ? 'Digite seu email' : '') ||
            (email.errors.email ? 'Email inválido' : '')
          )
        }}
      </label>
      <i class="icon icon-{{ email.touched ? (email.valid ? 'check' : 'remove') : 'email' }}"></i>
    </div>

    <div *ngIf="show.cellphone" class="form__field text" @TopFade>
      <input appFormField formControlName="cellphone" id="cellphone" type="tel" name="cellphone"
        [value]="lead.getCellphone()" (ngModelChange)="lead.setCellphone($event)" autocomplete />
      <label for="cellphone">
        {{
            cellphone.untouched || (cellphone.dirty && !cellphone.errors) ? 'Celular' : (
            (cellphone.errors.required ? 'Digite um numero' : '') ||
            (cellphone.errors.pattern ? 'Não é possivel usar este numero' : '')
          )
        }}
      </label>
      <i class="icon icon-{{ cellphone.touched ? (cellphone.valid ? 'check' : 'remove') : 'mobile' }}"></i>
    </div>

    <button type="submit" class="button style--default color--yellow" [disabled]="singUpForm.invalid">Continuar</button>
  </form>
</main>
