:host[app-page="signup"] {
  width: 100%;
}

header {
  height: 20%;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-areas: 'return r1c1 r1c2'
  'r2c1 title r1c3'
  'r3c1 paragraph r3c3';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3fr 3fr 1fr;

  .button {
    align-self: end;
    grid-area: return;
    font-size: 1.5em;
  }

  h1 {
    grid-area: title;
  }

  p {
    grid-area: paragraph;
  }
}

main {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-areas: 'left center right';
  grid-template-columns: 1fr 4fr 1fr;
  height: 80%;

  form {
    grid-area: center;
    height: 365px;
    display: grid;
    grid-template-rows: repeat(3, 55px 20px) auto 55px;
    grid-template-areas: 'r1''r2''r3''r4''r5''r6''space''button';

    .form__field {
      &:nth-child(1) {
        grid-area: r1;
      }

      &:nth-child(2) {
        grid-area: r3;
      }

      &:nth-child(3) {
        grid-area: r5;
      }
    }

    .button {
      grid-area: button;
    }
  }
}
